.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wrapper {
  max-width: 420px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form > div {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.primary {
  background-color: green;
  color: white;
  border: none;
  outline: none;
  box-shadow: 0px 0.5px 2px black;
  font-size: 1.2rem;
  padding-top: 15px;
  padding-bottom: 15px;
  flex: 1;
}
.secondary {
  background-color: orange;
  border: none;
  outline: none;
  box-shadow: 0px 0.5px 2px black;
  font-size: 1.2rem;
  padding-top: 15px;
  padding-bottom: 15px;
  flex: 1;
}

.form ul {
  list-style: none;
}

.item {
  position: relative;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item > div {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.item > div button {
  margin-right: 5px;
}
.delete {
  position: absolute;
  top: 0;
  right: 0;
}
