@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

input,
textarea {
  font-size: 1.2rem;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}

input {
  height: 45px;
}

.primary {
  background-color: green;
  color: white;
  border: none;
  outline: none;
  box-shadow: 0px 0.5px 2px black;
  font-size: 1.2rem;
  padding-top: 15px;
  padding-bottom: 15px;
}
.secondary {
  background-color: orange;
  border: none;
  outline: none;
  box-shadow: 0px 0.5px 2px black;
  font-size: 1.2rem;
  padding-top: 15px;
  padding-bottom: 15px;
}

h4 {
  font-size: 1.2rem;
}
