.postList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  /* border: 1px solid black; */
}

@media (max-width: 768px) {
  .postList {
    grid-template-columns: 1fr;
  }
}

.postItem {
  /* border: 1px solid red; */
}

.postItem > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.postItem > div img {
  width: 36px;
  height: 36px;
  border: 1px solid #fafafa;
  border-radius: 50%;
}

.created {
  color: gray;
}

.postItem img {
  width: 100%;
}